@import './font-class.css';
[v-cloak] {
  display: none;
}
.layer-vue {
  position: fixed;
  display: inline-block;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 2px;
}
.layer-vue-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  user-select: none;
  padding: 0 80px 1 20px;
}
.layer-vue-tools {
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.layer-vue-tools span {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.layer-vue-resize {
  user-select: none;
  position: absolute;
  cursor: se-resize;
  width: 10px;
  height: 10px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}
.layer-vue-lbresize {
  user-select: none;
  position: absolute;
  cursor: sw-resize;
  width: 10px;
  height: 10px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}
.layer-vue-content {
  position: relative;
}
.layer-vue-min:hover,.layer-vue-max:hover {
  background-color: var(--mbch);
  color: var(--mch);
}
.layer-vue-close:hover{
  background-color: var(--cbch);
  color: var(--cch);
}