[v-cloak] {
  display: none;
}

.layer-vue {
  border-radius: 2px;

  // --mch: "#6666";
  // --cch: "#fff";
  // --mbch: "#6666";
  // --cbch: "#f00";
  .layer-vue-title {
    overflow: hidden;
    width: 100%;
    padding: 0 0 0px 20px;
    box-sizing: border-box;
    border-radius: 2px 2px 0 0px;

    >div {
      display: inline-block;
    }

    .layer-vue-title-text {
      vertical-align: top;
      overflow: hidden;
      width: calc(100% - 130px);
      white-space: nowrap;
      text-overflow: ellipsis;
      user-select: none;
    }
  }

  .layer-vue-tools {
    float: right;
    cursor: pointer;

    span {
      display: inline-block;
      width: 30px;
      text-align: center;
    }

    .layer-vue-min:hover,
    .layer-vue-max:hover {
      background-color: var(--mbch);
      fill: var(--mch);
    }

    .layer-vue-close:hover {
      background-color: var(--cbch);
      fill: var(--cch);
    }
  }

  .layer-vue-close2 {
    display: none;
    position: absolute;
    right: -15px;
    top: -15px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: 1;
    line-height: 21px;
    background-color: #777;
    border: 2px solid #FFF;

    svg {
      fill: #FFF;
      line-height: 21px;
      font-size: 14px;
      padding: 5px;
    }

    &:hover {
      background-color: var(--cbch);
      color: var(--cch);
    }
  }

  &:hover .layer-vue-close2 {
    display: block;
  }


  .layer-vue-resize {
    user-select: none;
    position: absolute;
    cursor: se-resize;
    width: 10px;
    height: 10px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
  }

  .layer-vue-lbresize {
    user-select: none;
    position: absolute;
    cursor: sw-resize;
    width: 10px;
    height: 10px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
  }

  .layer-vue-content {
    border-radius: 0 0 2px 2px;
    position: relative;
    overflow: hidden;
  }

  &.startamin[data-amin='1'] {
    animation: startadmin1 0.3s;
  }

  &.endamin[data-amin='1'] {
    animation: endamin1 0.3s;
  }

  &.startamin[data-amin='2'] {
    animation: startadmin2 0.3s;
  }

  &.endamin[data-amin='2'] {
    animation: endamin2 0.3s;
  }

  &.startamin[data-amin='3'] {
    animation: startadmin3 0.3s;
  }

  &.endamin[data-amin='3'] {
    animation: endamin3 0.3s;
  }

  &.startamin[data-amin='4'] {
    animation: startadmin4 0.3s;
  }

  &.endamin[data-amin='4'] {
    animation: endamin4 0.3s;
  }

  &.startamin[data-amin='5'] {
    animation: startadmin5 0.3s;
  }

  &.endamin[data-amin='5'] {
    animation: endamin5 0.3s;
  }
}

@keyframes startadmin1 {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  80% {
    transform: scale(1.1);
  }
}

@keyframes endamin1 {
  20% {
    transform: scale(1.1);
  }

  to {
    opacity: 0;
    transform: scale(0.5);

  }
}

@keyframes startadmin2 {
  from {
    opacity: 0.5;
    transform: translate(0, -200%) scale(0.1);
  }

  50% {
    opacity: 1;
    transform: scale(0.5);
  }
}

@keyframes endamin2 {
  50% {
    opacity: 1;
    transform: scale(0.5);
  }

  to {
    opacity: 0.5;
    transform: translate(0, -200%) scale(0.1);
  }
}

@keyframes startadmin3 {
  from {
    opacity: 0.5;
    transform: translate(0, 200%) scale(0.1);
  }

  50% {
    opacity: 1;
    transform: scale(0.5);
  }
}

@keyframes endamin3 {
  50% {
    opacity: 1;
    transform: scale(0.5);
  }

  to {
    opacity: 0.5;
    transform: translate(0, 200%) scale(0.1);
  }
}

@keyframes startadmin4 {
  from {
    opacity: 0.5;
    transform: translate(-200%, 0) scale(0.1);
  }

  50% {
    opacity: 1;
    transform: scale(0.5);
  }
}

@keyframes endamin4 {
  50% {
    opacity: 1;
    transform: scale(0.5);
  }

  to {
    opacity: 0.5;
    transform: translate(-200%, 0) scale(0.1);
  }
}

@keyframes startadmin5 {
  from {
    transform: translate(-200%, 0) rotate(-7200deg) scale(0);
  }
}

@keyframes endamin5 {
  to {
    transform: translate(-500%, 0) rotate(-7200deg) scale(0);
  }
}
